
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
      
        <div class="row">
            <div class="col-xl-12 ">
                <img src="~/Content/Img/Index/viajar_23-2148034719.jpg" width="600">

            </div><!--.col-->
       
        </div>
    </div><!--.container-fluid-->
</div><!--.page-content-->
@section Scripts {
<script>

</script>
}